@{
	ViewData["Title"] = "Home Page";
}


<div class="container mt-5">
	<div class="row mt-5">
		<h1 class="text-center">LeetSpeak</h1>
		<form>
			<div class="row mt-4">
				<div class="col-md-6">
					<div class="mb-3">
						<input type="text" placeholder="Orjinal Metin" class="form-control" id="firstName" name="firstName" required>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="mb-3">
					<button type="button" id = "translate" class="btn btn-primary float-md-start">Çevir</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="container mt-5">
	<div class="row mt-5">
		<div class="col-md-12">
			<table class="table" id="translationTable">
				<thead>
					<tr>
						<th>Orjinal Metin</th>
						<th>Formatlanmış Metin</th>
						<th>Çeviri Tarihi</th>
					</tr>
				</thead>
				<tbody id="translationList"></tbody>
			</table>
		</div>
	</div>
</div>
