@{
	ViewData["Title"] = "Home Page";
}


<div class="container mt-5">
	<div class="row mt-5">
		<form>
			<div class="row mt-4">
				<div class="col-md-6">
					<div class="mb-3">
						<input type="text" placeholder="Original Text" class="form-control" id="originalText" name="originalText" required>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="mb-3">
					<button type="button" id = "translate" class="btn btn-primary float-md-start">Format</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="container mt-5">
	<div class="row mt-5">
		<div class="col-md-12">
			<table class="table" id="translationTable">
				<thead>
					<tr>
						<th>Original Text</th>
						<th>Formatted Text</th>
						<th>Translation Date</th>
					</tr>
				</thead>
				<tbody id="translationList"></tbody>
			</table>
		</div>
	</div>
</div>
