@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
	<meta name="generator" content="Hugo 0.88.1">
	<title>Sidebars · Bootstrap v5.1</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css" rel="stylesheet" />
	<link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">
	<link href="~/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/layout.css" rel="stylesheet" />
	<link href="~/css/sidebars.css" rel="stylesheet" />
</head>
<body >
	<main>
			@Html.Partial("Navbar")
			<div class="container">
				<div id="alert-container"></div>


				@RenderBody()
			</div>
	</main>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/10.8.3/jsrsasign-all-min.js"></script>
	<script src="~/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.js"></script>
	<script src="~/js/layout.js"></script>
	<script src="~/js/sidebars.js"></script>
	<script src="~/Scripts/BaseTranslation.js"></script>
	<script src="~/Scripts/Translation.js"></script>
	<script src="~/scripts/login.js"></script>
</body>
</html>
